Flask
Flask-SQLAlchemy
flask-smorest
Flask-HTTPAuth
Flask-Migrate
Flask-WTF

python-dotenv

loguru

pymysql==1.1.1

git+https://github.com/ajrlewis/webkit.git
git+https://github.com/ajrlewis/huggingkit.git
git+https://github.com/ajrlewis/imagekit.git
