{% extends "base.html" %}

{% block content %}
<div class="overview">
  <div class="caption">
    <span>A.J.R.Lewis</span>
  </div>
</div>
<div class="content">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <img src="/static/img/profile-ajrlewis-cartoon.png" alt="Profile Picture" width="250px" height="250px" style="border-radius: 20px">
      <br>
      <br>
      <p>I am an independent software consultant and developer open to work! From designing the best software solutions for your business, to building your web-based applications using my free and open-source software (FOSS), I can provide you real value for value.</p>
      <p>My recent portfolio boasts full-stack stack software for managing bookings, generating invoices and gaining artificial intelligence (AI) business insights, advanced application programming interfaces (APIs) using large language models (LLMs) and advanced web-scraping techniques for data harvesting.</p>
      <p>I hold a PhD in extragalactic astrophysics from The University of Edinburgh and have over 4 year's worth of experience in the tech industry, where formally as Head of AI I developed advanced AI algorithms for demand forecasting and led a team of software engineers.</p>
      <p>In my spare time I'm writing <i>From Seashells to Satoshis</i>, a guide on the evolution of money from the physical to the digital in the form of Bitcoin.</p>
      <p>Downloads available below:</p>
      <p>
        <a class="button button-primary" href="/static/pdf/ajrlewis-resume.pdf" target="_blank">Resume (1.5MB)</a>
        <a class="button button-primary" href="/static/pdf/ultra-red-galaxies.pdf" target="_blank">PhD Thesis (55MB)</a>
        <a class="button button-primary" href="/static/pdf/from-seashells-to-satoshis.pdf" target="_blank">From Seashells to Satoshis (7.8MB)</a>
        <a class="button button-primary" href="/static/pdf/bitcoin.pdf" target="_blank">Bitcoin White Paper (180KB)</a>
      </p>
    </div>
    <br>
  </div>
</div>

<div class="services">
  <div class="caption">
    <span>Tech Services</span>
  </div>
</div>
<div class="content">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="six columns">
        <h2>Consultation</h2>
        <p>Expect an hour online meeting where I learn everything about your business, strategy and priorities to map out your existing systems and tech processes.</p>
        <p>I will provide fully independent advice and recommendations to improve your tech stack.</p>
        <p><a class="button button-primary" href="mailto:hello@ajrlewis.com?subject=Book a Consulation&body=Hi, I'd like to book a consulation, please …">Book Now</a></p>
        <p><strong>* Free with no obligation</strong></p>
      </div>
      <div class="six columns">
        <h2>Daily Rate</h2>
        <p>Expect a fully laid out plan to build and deploy the code desired by your business.</p>
        <p>I will aim to deliver the backend code (Python or Rust) within a week (depending on complexity).</p>
        <p>Larger, more complicated projects can be expected to be completed within a month.</p>
        <p><a class="button button-primary" href="mailto:hello@ajrlewis.com?subject=Book by the day&body=Hi, I'd like to book AJR Lewis for a project, please. When are you available to discuss this further?">Book Now</a></p>
        <p><strong>* From ₿0.00 420 069 / day</strong></p>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="clients">
  <div class="caption">
  <span>What My Customers Say</span>
</div>
</div>
<div class="content">
  <div class="container" id="clients">
    <br>
    <br>
    <div class="row">
      <div class="six columns profile">
        <a href="https://hyperhumans.ai" target="_blank" >
          <img src="/static/img/logo-hyperhumans.png" alt="Hyperhumans Logo" class="center">
        </a>
        <h2>Hyperhumans</h2>
        <h1>“</h1>
        <p>We hired A.J.R.Lewis based on a personal recommendation, and so far his work with us has been outstanding. Not only is he highly proficient in writing the actual code we need, but he has the brain to be able to make solid decisions and think up solutions that actually solve the problems that inevitably come up when developing software. Finally, he's just a great person to work with; self-managing, while fully able to mesh with our existing team. In short, hire him for your next software projects - we haven't regretted it for a second and neither will you.</p>
      </div>
      <div class="six columns profile">
        <a href="https://w4lkies.com" target="_blank">
          <img src="/static/img/logo-w4lkies.png" alt="W4lkies Logo" class="center">
        </a>
        <h2>W4lkies</h2>
        <h1>“</h1>
        <p>A.J.R.Lewis has effectively built the tech for my dog walking business and I couldn't have had such a slick, smooth and easy to use infrastructure to create invoices and booking system without their help! Very professional and work done in very good time. Highly recommend.</p>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="contact">
  <div class="caption">
    <span>Contact Me Today</span>
  </div>
</div>
<div class="content">
  <footer class="container">
    <br>
    <br>
    <div class="row">
      <div class="six columns">
        <h2>Contact</h2>
        <p>E-mail: <a href="mailto:hello@ajrlewis.com?subject=Hello!">hello@ajrlewis.com</a></p>
      </div> 
      <div class="six columns" style="word-wrap: break-word;">
        <h2>Social</h2>
        <p>Nostr: <a href="https://satellite.earth/@npub19ccv5fe7rn22cwasygsjkd5f0l64wv3fsw5jxtemvukfznfjtfvq0jmwsh" target="_blank">npub19ccv5fe7rn22cwasygsjkd5f0l64wv3fsw5jxtemvukfznfjtfvq0jmwsh</a></p>
        <p>Github: <a href="https://github.com/ajrlewis" target="_blank">ajrlewis</a></p>
      </div> 
    </div>
    <br>
    <br>
    <br>
  </footer>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
