{% extends "base.html" %}

{% block content %}
<div class="overview">
  <div class="caption">
    <span>A.J.R.Lewis</span>
  </div>
</div>
<div class="content">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <img src="/static/img/profile-ajrlewis-cartoon.png" alt="Profile Picture" width="250px" height="250px" style="border-radius: 20px">
      <br>
      <br>
      <br>
    </div>

    <!-- Who I Am -->
    <h2>Who I Am</h2>
    <br>
    <p>I'm an independent <span>software engineer</span> fluent in <span>Python</span>, <span>HTML</span>  &amp;amp; <span>CSS</span>.</p>

    <p>I enjoy <span>listening to vinyl</span> with tastes ranging from <span>classical</span> and <span>gospel</span> to <span>hip-hop</span> and <span>down-tempo electronica</span>, though there are some genres that are a <a href="https://en.wikipedia.org/wiki/Patrick_Bateman" target="_blank">little too new wave for my taste</a>.</p>
    
    <p>I partake in the occasional <span>cigar</span>, <span>whisky</span> and <span>real ale</span>! To keep fit I like jogging and <span>walking my dogs</span>.</p>

    <p>I spend any free time <span>reading when out and about, solely analogue, no digital</span>. Currently  I'm writing <span>From Seashells to Satoshis</span>, my take on the physical-to-digital evolution of money, with an emphasis on <span>Bitcoin</span>.</p>
    <br>
    <a class="button button-primary" href="/static/pdf/from-seashells-to-satoshis.pdf" target="_blank">From Seashells to Satoshis (7.8MB)</a>
    <!-- <a class="button button-primary" href="/static/pdf/bitcoin.pdf" target="_blank">Bitcoin White Paper (180KB)</a> -->
    <br>
    <br>
    <br>

    <!-- What I've Done -->
    <h2>What I've Done</h2>
    <br>
    <p>I hold a <span>PhD in extragalactic astrophysics</span> from <span>The University of Edinburgh</span></p>
    <br>
    <a class="button button-primary" href="/static/pdf/ultra-red-galaxies.pdf" target="_blank">PhD Thesis (55MB)</a>
    <a href="https://arxiv.org/abs/1711.08803" target="_blank">Publications</a>
    <br>
    <br>
    <p>I have over 4 year's worth of experience in the tech industry. Previously, as Head of AI, I <span>led a team</span> of software engineers to develop advanced <span>demand forecasting algorithms</span> for high-volume retail companies.
    </p>
    <p>My recent portfolio boasts <span>full-stack stack software</span> for managing bookings, generating invoices and gaining <span>AI business insights</span>, advanced <span>application programming interfaces</span> (APIs) using <span>large language models</span> (LLMs) and crafty <span>web-scraping techniques</span> for data harvesting.</p>
    <br>
    <a class="button button-primary" href="/static/pdf/ajrlewis-resume.pdf" target="_blank">Resume (1.5MB)</a>

    <br>
    <br>
    <br>
    <!-- What I Can Do-->
    <h2>What I Can Do</h2>
    <p>From <span>designing the best software solutions</span> for your business, to building your <span>web-based applications</span> using my <span>free and open-source software</span> (FOSS), I can provide you real <span>value for value</span>.</p>
    </div>
    <br>
    <br>
    <br>
</div>

<div class="services">
  <div class="caption">
    <span>Services</span>
  </div>
</div>
<div class="content">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="four columns">
        <br>
        <img src="/static/img/icon-consultation.png" alt="Profile Picture" width="150px" height="150px" style="border-radius: 20px">
        <br>
        <br>
        <h2>Consultation</h2>
        <br>
        <p>Expect an <span>online meeting</span> where I learn everything about your <span>business</span>, <span>strategy</span> and <span>priorities</span> to map out your existing <span>systems</span> and <span>tech processes</span>.</p>
        <p>I will provide fully <span>independent advice</span> and <span>recommendations</span> to improve your <span>tech stack</span>.</p>
        <p><a class="button button-primary" href="mailto:hello@ajrlewis.com?subject=Book a Consulation&body=Hi, I'd like to book a consulation, please …">Inquire Now</a></p>
        <p><strong>* Free with no obligation</strong></p>
      </div>
      <div class="four columns">
        <br>
        <img src="/static/img/icon-daily-rate.png" alt="Profile Picture" width="150px" height="150px" style="border-radius: 20px">
        <br>
        <br>
        <h2>Day Rate</h2>
        <br>
        <p>Expect a <span>fully laid out plan to build and deploy</span> the code desired by your business.</p>
        <p>I will aim to deliver the <span>backend code</span> within a week (depending on complexity).</p>
        <p>Larger, more complicated projects can be expected to be completed within a month.</p>
        <p><a class="button button-primary" href="mailto:hello@ajrlewis.com?subject=Book by the day&body=Hi, I'd like to book AJR Lewis for a project, please. When are you available to discuss this further?">Inquire Now</a></p>
        <p><strong>* From ₿0.00 420 069 / day</strong></p>
      </div>
      <div class="four columns">
        <br>
        <img src="/static/img/icon-api.png" alt="Profile Picture" width="150px" height="150px" style="border-radius: 20px">
        <br>
        <br>
        <h2>API</h2>
        <br>
        <p>My API is FOSS and can be <span>"forked" freely at any time</span> by you from GitHub.</p>
        <p>You can <span>interact</span> with advanced AIs using an API key to <span>chat</span>, create <span>images</span>, analyze data and more at <a href="/api/docs" target="_blank">ajrlewis.com/api/docs</a>.</p>
        <p>If you'd like me to help <span>integrate this solution</span> into your tech stack <span>get in touch</span> for a free consultation.</p>
        <p><a class="button button-primary" href="mailto:hello@ajrlewis.com?subject=Book by the day&body=Hi, I'd like to book AJR Lewis for a project, please. When are you available to discuss this further?">Inquire Now</a></p>
        <!-- <p><strong>* </strong></p> -->
      </div>
    </div>
    <br>
  </div>
</div>

<div class="clients">
  <div class="caption">
  <span>What My Customers Say</span>
</div>
</div>
<div class="content">
  <div class="container" id="clients">
    <br>
    <br>
    <div class="row">
      <div class="six columns profile">
        <a href="https://hyperhumans.ai" target="_blank" >
          <img src="/static/img/logo-hyperhumans.png" alt="Hyperhumans Logo" class="center" style="max-width:250px; max-height:250px; width:auto; height:auto;">
        </a>
        <br>
        <h2>Hyperhumans</h2>
        <br>
        <h1>“</h1>
        <p>We hired A.J.R.Lewis based on a personal recommendation, and so far his work with us has been <span>outstanding</span>. Not only is he highly proficient in writing the actual code we need, but he has the brain to be <span>able to make solid decisions</span> and think up solutions that actually solve the problems that inevitably come up when developing software. Finally, he's just a <span>great person to work with</span>; self-managing, while fully able to <span>mesh with our existing team</span>. In short, hire him for your next software projects - we haven't regretted it for a second and neither will you.</p>
      </div>
      <div class="six columns profile">
        <a href="https://w4lkies.com" target="_blank">
          <img src="/static/img/logo-w4lkies.png" alt="W4lkies Logo" class="center" style="max-width:250px; max-height:250px; width:auto; height:auto;">
        </a>
        <br>
        <h2>W4lkies</h2>
        <br>
        <h1>“</h1>
        <p>A.J.R.Lewis has <span>effectively built the tech</span> for my dog walking business and I couldn't have had such a <span>slick, smooth and easy to use</span> infrastructure to create invoices and booking system without their help! <span>Very professional</span> and work done in very good time. <span>Highly recommend</span>.</p>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="contact">
  <div class="caption">
    <span>Contact Me Today</span>
  </div>
</div>
<div class="content">
  <footer class="container">
    <br>
    <br>
    <div class="row">
      <div class="six columns">
        <h2>Contact</h2>
        <p>E-mail: <a href="mailto:hello@ajrlewis.com?subject=Hello!">hello@ajrlewis.com</a></p>
      </div> 
      <div class="six columns" style="word-wrap: break-word;">
        <h2>Social</h2>
        <p>Nostr: <a href="https://satellite.earth/@npub19ccv5fe7rn22cwasygsjkd5f0l64wv3fsw5jxtemvukfznfjtfvq0jmwsh" target="_blank">npub19ccv5fe7rn22cwasygsjkd5f0l64wv3fsw5jxtemvukfznfjtfvq0jmwsh</a></p>
        <p>Github: <a href="https://github.com/ajrlewis" target="_blank">github.com/ajrlewis</a></p>
      </div> 
    </div>
    <br>
    <br>
    <br>
  </footer>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
